# SBT
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.cache
.lib/
*.log

# MacOS
.DS_Store

# IntelliJ project files
.idea

# Sub projects
api/
plugins-public/
plugins-private/

# Plugin Framework
plugins/