# SBT
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.cache
.lib/
*.log

# MacOS
.DS_Store

# IntelliJ project files
.idea/*
!.idea/runConfigurations

# Sub projects
/api/
/plugins-public/
/plugins-private/

# Plugin Framework
/plugins/
/plugins.sbt
/config/

# resources of the bootstrap project
/dependencyList.txt
/bootstrap/src/main/resources/
/bin/
/lib/
/deploy/